.header {
  background-color: #D0AF71;
  text-align: center;
  .container {

    .link_btn {
      margin: 30px;
      display: inline-block;
    }
  }
}

.footer {
  background-color: #D0AF71;
}
.footcontent {
  text-align: center;
  font-size: x-small;
  height: 20px;
  background-color: #D0AF71;
  padding: 10px;
  color: #1F220B;
}